@charset "UTF-8";

body {
  padding: 1em;
  font-size: 14px;
}

main span {
  padding: 0.75em 1em;
  cursor: pointer;
}

.selected {
  color: green;
}

.selected::before {
  content: " \2713";
}

object {
  width: 8em;
}

.wrapper > * {
  pointer-events: none; /* block mouse events on element children*/
}
